* {
	box-sizing: border-box;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


.my_copyright{
margin: 0; padding: 0;
	font: 1em Georgia, serif;
	float: center;
	color: white; 
	height: 100px;
  line-height: 100px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center}

body {margin: 0; padding: 0;
	font: 1em Georgia, serif;}

.box {

	width: 100%;
	padding: 50px;
	background-color: white; 
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 25% 25% 25% 25%;
}

.img {
	float: center;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

footer {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #2C3E50;
	text-decoration-color: white; 
}

.small {
	width: 320px;
  padding: 10px white;
  border: 5px;
  margin: 0;
}

#background {
	  background-color: #95a5a6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#center {
	text-align: center;
}

@media (max-width: 480px) {
.center {
	display: flex;
	justify-content: center; 
}}

.left {
	display: flex;
	justify-content: left; 
}

h5 {
	font: 1em Georgia, serif;
	font-weight: bold;
	text-align: center;
	font-size: 18px; 
}

.white-box {background-color:white; text-align:left; vertical-align: middle; padding:20px 47px;}

.featured:before {
content: '+';
font-weight: 400;
display: inline-block;
margin-right: 5px;
color: #4CB1FF;
}

.vertical-text {width:50px; height:50px; margin: 30px 0 auto auto; background: #4CB1FF;}
.vertical-text span {
width: 50px;
display: inline-block;
text-align: center;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}