* {
	box-sizing: border-box;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


.my_copyright{
margin: 0; padding: 0;
	font: 1em Georgia, serif;
	float: center;
}

body {margin: 0; padding: 0;
	font: 1em Georgia, serif;}

.box {

	float: center; 
	width: 100%;
	padding: 50px;
	background-color: white; 
}

img {
	float: center;
}

#background {
	  background-color: #95a5a6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#center {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center; 
}

.left {
	display: flex;
	justify-content: left; 
}

h5 {
	font: 1em Georgia, serif;
	font-weight: bold;
	text-align: left;
	font-size: 18px; 
}
s
.white-box { width: 500px; height: 100px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  
background: rgba(255,255,255,0.9);
padding: 30px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

.featured:before {
content: '+';
font-weight: 400;
display: inline-block;
margin-right: 5px;
color: #4CB1FF;
}

.vertical-text {width:50px; height:50px; margin: 30px 0 auto auto; background: #4CB1FF;}
.vertical-text span {
width: 50px;
display: inline-block;
text-align: center;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}